* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #3bafda;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    display: flex;

}

#imagemDif {
    width: 200px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


.caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e6e9ed;
    padding: 50px;
    border-radius: 30px;
    margin: 100px 400px;
}

.botoes {
    border: 1px solid;
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    margin-right: 10px;
    font-weight: 500;
    background-color: #e6e9ed;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.botoes:hover:not([disable]) {
    background: rgba(0, 3, 13, 0.30);
    transition: 0.3s;
}

.botoes:disabled {
    cursor: no-drop;
}

.icone {
    margin-right: 15px;
}

#proximo {
    display: none;
    margin-top: 30px;
    background-color: #3bafda;
    padding: 20px 30px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.correto {
    background: #9aeabc;
}

.incorreto {
    background: #ff9393;
}

#pergunta {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
