* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #3bafda;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 22px;

}

.texto {
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    padding: 30px 0 20px 0;
    width: 100%;
    text-align: center;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}


#outra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

#imagemDif {
    height: 300px;
}


.caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #e6e9ed; */
    /* margin: 100px 400px; */
}

.botoes {
    border: 1px solid black;
    margin-top: 10px;
    padding: 15px;
    font-size: 20px;
    width: 700px;
    height: 100px;
    margin-right: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.botoes:hover:not([disable]) {
    background: rgba(0, 3, 13, 0.062);
    transition: 0.4s;
}

.botoes:disabled {
    cursor: no-drop;
}

.icone {
    margin-right: 15px;
}

#perguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}


#proximo {
    background-color: #D9713B;
    padding: 20px 30px;
    cursor: pointer;
}

.correto {
    background: #71A944;
    color: white;
}

.incorreto {
    background: #F23838;
    color: white;
}

.final {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
}

#pontos {
    background-color: black;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
}