* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'PTSans';
    src: url(font/PTSans-Regular.ttf);
}

body {
    background-color: #3BAED9;
    font-family: 'PTSans', sans-serif;
}

h1 {
    font-size: 3.5vh;
}

i {
    pointer-events: none;
}

.texto {
    background-color: white;
    padding: 30px 0 20px 0;
    width: 100%;
    text-align: center;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#outra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

#imagemDif {
    height: 48vh;
}

.caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #e6e9ed; */
    /* margin: 100px 400px; */
}

.botoes {
    border: 1px solid black;
    margin: 4px;
    padding: 15px;
    width: 48vW;
    height: 12vh;
    text-align: left;
    font: 400 2.8vh 'PTSans', sans-serif;
    cursor: pointer;
}

/* .botoes:hover:not([disable]) {
    background: rgba(0, 3, 13, 0.062);
    transition: 0.4s;
} */

.botoes:disabled {
    cursor: no-drop;
}

#perguntas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}


#proximo {
    background-color: #2A5A9D;
    border-radius: 5px;
    color: white;
    font: 400 2.8vh 'PTSans', sans-serif;
    padding: 20px 30px;
    cursor: pointer;
}

.correto {
    background: #71A944;
    color: white;
}

.incorreto {
    background: #F23838;
    color: white;
}

.final {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 5px;
}

#pontos {
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
}

@media screen and (max-width: 799px) {

    .botoes {
        width: 100%;
    }
    
    h1 {
        margin: 3px;
    }

    #imagemDif {
    height: 33vh;
    }

}